El archivo .env creado en esta ubicación debe ser un enlace simbólico
al archivo src/.env. Esto se hace para mantener la configuración centralizada
y evitar duplicación de archivos de configuración.

Para crear el enlace simbólico en Linux, situarse en esta carpeta y ejecutar vía terminal:
    ln -s src/.env .env