/*** Estilos dependientes del tipo de dispositivo ***/

/* Estilos para desktop */
@media screen and (min-width: 1000px) {

    section.carrusel {
        margin: 3rem auto;
        width: 80vw;
    }

    section.carrusel article.libro {
        width: 220px;
    }

    section.carrusel article.promocion {
        width: 1200px;
    }

}

/* Estilos para mobile */
@media screen and (max-width: 999px) {

    .flecha {
        display: none;
    }

    section {
        margin: 3rem 0 3rem auto;
    }

    section.carrusel {
        width: 95vw;
    }

    section.carrusel h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    section.carrusel article.libro {
        width: 160px;
    }

    section.carrusel article.promocion {
        width: 80vw;
    }

}


/* Estilos del carrusel */

section.carrusel {
    display: block;
    position: relative;
}

section.carrusel h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.contenedor-carrusel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 10px 0;
    justify-content: flex-start;
}

section.carrusel h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

section.carrusel article.libro {
    flex-shrink: 0;
    margin-bottom: 1rem;
    text-align: center;
}

section.carrusel article.promocion {
    flex-shrink: 0;
    margin-bottom: 1rem;
}

section.carrusel article > * {
    margin: 0.7rem 0;
}

section.carrusel article img {
    width: 100%;
    margin-bottom: 0.7rem;
}

section.carrusel article button {
    background-color: var(--color-violeta);
    color: white;
    font-weight: bold;
    padding: 0.3rem 1.2rem;
    border-radius: 0.3rem;
    border-style: none;
    cursor: pointer;
}

section.carrusel article button:hover {
    background-color: var(--color-violeta-oscuro);
}


/* Flechas de carrusel */

.flecha {
    background-color: var(--color-violeta);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.flecha-izq {
    left: -60px;
}

.flecha-der {
    right: -60px;
}

.flecha::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 3px solid var(--color-blanco);
    border-right: 3px solid var(--color-blanco);
}

.flecha-izq::before {
    transform: translate(-30%, -50%) rotate(-135deg);
}

.flecha-der::before {
    transform: translate(-70%, -50%) rotate(45deg);
}

.flecha:hover {
    background-color: var(--color-violeta-oscuro);
}